**/node_modules
**/.git
**/.github
**/.vscode
**/.idea
**/dist
**/build
**/coverage
**/.turbo
**/.cache
**/cache
**/.env
**/.env.*
!**/.env.example
**/npm-debug.log*
**/pnpm-debug.log*
**/yarn-debug.log*
**/cypress/videos
**/cypress/screenshots
**/playwright-report
**/test-results
Jenkinsfile*

